.movieNavDescription {
    width: 130px;
    border: 1.5px solid #BE123CB2;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.movie-nav-description {
    color: #333333CC;
    font-weight: 600;
    font-size: .8em;
    font-weight: 800;
    width: 100px;
    margin-bottom: 0;
    margin-top: 0;
}

.movie-nav-subdesc {
    color: #666666;
    font-weight: 500;
    width: 100px;
    font-size: .8em;
}

.desc-btndiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.desc-btn {
    background-color: #BE123C33;
    color: #BE123C;
    width: 100px;
    height: 35px;
    font-weight: 800;
    font-size: .7em;
    border-radius: 15px;
    border: 0;
}